.mypage {
   padding:0 0 200px 0;
   background-image: linear-gradient(90deg, rgba(247, 166, 12, 0.6) 27%, rgba(255, 34, 87, 0.6) 68%,rgba(196, 39, 238, 0.6) 87%, rgba(107, 147, 232, 0.6) 98%);
  &_bk {
  width:80%;
  margin:auto;
  }
  &_h1 {
    padding:20px 0 10px 0;
    color:#fff;
  }
  &_h5 {
    background-color:rgba(255,255,255,0.5);
    padding:10px 50px;
    margin:0 0 30px 0;
  }
  &_flexbox {
    background-color:rgba(255,255,255,0.5);
    margin:40px 0px;
    display:flex;
    justify-content:space-between;
    height:400px;
    &-item {
    margin:auto;//??????
    text-align:center;
    width:70%;
    &--box {
    }
   }
  }
  &_ttl {
    background: linear-gradient(transparent 60%, #FFDDFF 0%);
    display: inline;
    padding: 0 1px 0px;
  }
  &_menu {
    margin:10px 0;
    color:#333;
    font-weight: bolder;
    border:1px solid #333;
    width:60%;
    margin:20px auto 0;
  }

  &_txt {
    margin:10px 0;
    color:#333;
    font-weight: bolder;
  }
  &_btn {
  }
  &_section {
    width:50%;
  }
  &_container {
  }
  &_content {
   height:400px;
  
  }
  &_slide {
  display:flex;
  justify-content:flex-end;
  }
  &_box {
    height:400px;
  &-img{
    width:600px;
    height:100%;
    object-fit: cover;
    }
  }
  &_favorite {
    background-color:rgba(255,255,255,0.5);
    text-decoration: none;
   &-h2 {
    color:#333;
    transition: all 0.2s;
    padding:20px 50px;
    font-size: 24px;
    &:hover{
     transform: scale(1.1, 1.1);
    }
    }
  }
  &_mypost {
    padding:20px 0 0 0;  
  }
  &_mytweet {
    background-color:rgba(255,255,255,0.5);
    padding:30px 0;
   &-h2 {
    text-decoration: none;
    color:#333;
    transition: all 0.2s;
    padding:0 50px;
    font-size: 16px;
    &:hover{
     transform: scale(1.1, 1.1);
    }
    }
    &-h5 {
      padding:0 50px;
    }
    &-box {
      overflow:auto;
      height:200px;
      overflow-x: hidden;
    }
  }

}

